<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <form id="login_form" th:action="@{/login}" method="post">
        <h3>Login Here</h3>
        <div th:if="${param.error}" id="error">
            <p>Username and Password Mismatch</p>
        </div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Username">

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">

        <input id="button" type="submit" value="Log in">
    </form>
    </div>
</body>
</html>